<h2 id="title">select2 component with test helpers demo</h2>

<div>
    {{#link-to 'with-tags'}}select2 with tags{{/link-to}}
</div>

<div>
    {{#link-to 'without-tags'}}select2 without tags{{/link-to}}
</div>

{{outlet}}
